Repository woowacourse-teams/2025-Todok-Todok, pull requests merged in 2025-09, with the labels that each got.

#572 be -> dev 병합
  .github/workflows/backend-ci-cd-prod.yml
  backend/src/main/java/todoktodok/backend/book/application/service/query/BookQueryService.java
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/todoktodok/backend/book/application/service/query/BookQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/book/presentation/BookControllerTest.java
Labels: ⚙️ backend

#582 #581 an -> dev 머지 시 backend ci cd 돌아가고 있어서 스크립트 수정
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  .github/workflows/backend-ci.yml
Labels: ⚙️ backend, 🔨 fix

#584 be -> dev 병합
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  .github/workflows/backend-ci.yml
Labels: ⚙️ backend

#597 #595 Comment repository 및 관련 ViewModel 테스트 코드 추가
  android/TodokTodok/.kotlin/sessions/kotlin-compiler-17834839256474245321.salive
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DefaultDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultDiscussionRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/repository/DefaultCommentRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/repository/DefaultDiscussionRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/FakeCommentRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fixture/CommentResponse.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fixture/User.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/presentation/vm/CommentsViewModelTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/presentation/vm/DiscussionDetailViewModelTest.kt
Labels: 🤖 android, ✨ feature

#602 #599 회원탈퇴 api 추가
  backend/src/main/java/todoktodok/backend/member/application/service/command/MemberCommandService.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberApiDocs.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
  backend/src/test/java/todoktodok/backend/member/application/service/command/MemberCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/member/presentation/MemberControllerTest.java
Labels: ⚙️ backend, ✨ feature

#636 Compose dependency 추가
  android/TodokTodok/.editorconfig
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/notification/NavigateToBack.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/theme/Color.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/theme/Theme.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/theme/Type.kt
  android/TodokTodok/build.gradle.kts
  android/TodokTodok/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feature

#648 #646 알라딘 API 페이지네이션 적용
  backend/src/main/java/todoktodok/backend/book/application/dto/response/LatestAladinBookPageResponse.java
  backend/src/main/java/todoktodok/backend/book/application/dto/response/PageInfo.java
  backend/src/main/java/todoktodok/backend/book/application/service/query/BookQueryService.java
  backend/src/main/java/todoktodok/backend/book/infrastructure/aladin/AladinItemResponses.java
  backend/src/main/java/todoktodok/backend/book/infrastructure/aladin/AladinRestClient.java
  backend/src/main/java/todoktodok/backend/book/presentation/BookApiDocs.java
  backend/src/main/java/todoktodok/backend/book/presentation/BookController.java
  backend/src/test/java/todoktodok/backend/book/application/service/query/BookQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/book/presentation/BookControllerTest.java
Labels: ⚙️ backend

#657 #656 Compose 개발환경 세팅 완료
  android/TodokTodok/.editorconfig
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/notification/NavigateToBack.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/theme/Color.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/theme/Theme.kt
  android/TodokTodok/build.gradle.kts
  android/TodokTodok/gradle.properties
  android/TodokTodok/gradle/libs.versions.toml
  android/TodokTodok/settings.gradle.kts
  android/TodokTodok/ui-compose/.gitignore
  android/TodokTodok/ui-compose/build.gradle.kts
  android/TodokTodok/ui-compose/consumer-rules.pro
  android/TodokTodok/ui-compose/proguard-rules.pro
  android/TodokTodok/ui-compose/src/androidTest/java/com/team/ui_compose/.gitKeep
  android/TodokTodok/ui-compose/src/main/AndroidManifest.xml
  android/TodokTodok/ui-compose/src/main/java/com/team/ui_compose/discussion/DiscussionCard.kt
  android/TodokTodok/ui-compose/src/main/java/com/team/ui_compose/theme/Color.kt
  android/TodokTodok/ui-compose/src/main/java/com/team/ui_compose/theme/Dimens.kt
  android/TodokTodok/ui-compose/src/main/java/com/team/ui_compose/theme/Theme.kt
  android/TodokTodok/ui-compose/src/main/java/com/team/ui_compose/theme/Type.kt
  android/TodokTodok/ui-compose/src/main/res/font/pretendard_black.otf
  android/TodokTodok/ui-compose/src/main/res/font/pretendard_bold.otf
  android/TodokTodok/ui-compose/src/main/res/font/pretendard_extra_bold.otf
  android/TodokTodok/ui-compose/src/main/res/font/pretendard_extra_light.otf
  android/TodokTodok/ui-compose/src/main/res/font/pretendard_light.otf
  android/TodokTodok/ui-compose/src/main/res/font/pretendard_medium.otf
  android/TodokTodok/ui-compose/src/main/res/font/pretendard_regular.otf
  android/TodokTodok/ui-compose/src/main/res/font/pretendard_semi_bold.otf
  android/TodokTodok/ui-compose/src/main/res/font/pretendard_thin.otf
  android/TodokTodok/ui-compose/src/main/res/values/strings.xml
  android/TodokTodok/ui-compose/src/test/java/com/team/ui_compose/.gitKeep
Labels: 🤖 android, ✨ feature

#655 #643 인터넷 연결 상태에 따른 API 호출 재시도 기능 추가
  android/TodokTodok/app/src/main/java/com/team/todoktodok/AppContainer.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/connectivity/NetworkConnectivityObserver.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/core/PrettyJsonLogger.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/di/OkhttpModule.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultMemberRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/ExceptionMessageConverter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/base/BaseUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/base/BaseViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/BaseDiscussionsFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionsActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/vm/DiscussionsViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/vm/DiscussionsViewModelFactory.kt
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/datasource/DefaultMemberRemoteDataSourceTest.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/ConnectivityObserver.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/BlockException.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/NicknameException.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/ReportException.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/SignUpException.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/TodokTodokExceptions.kt
Labels: 🤖 android, ✨ feature

#660 #659 조회수 컬럼 추가 및 관련 테이블 추가
  backend/src/main/java/todoktodok/backend/discussion/domain/Discussion.java
  backend/src/main/java/todoktodok/backend/discussion/domain/DiscussionMemberView.java
  backend/src/main/resources/db/local/schema.sql
  backend/src/main/resources/db/migration/V5__alter_discussion.sql
  backend/src/main/resources/db/migration/V6__create_dicussion_member_view.sql
  backend/src/main/resources/db/migration_dev/V6__alter_discussion.sql
  backend/src/main/resources/db/migration_dev/V7__create_dicussion_member_view.sql
Labels: ⚙️ backend, ✨ feature

#681 #671 최신 토록 목록 화면 무한 스크롤 & 새로고침 Compose 구현
  android/TodokTodok/app/src/androidTest/java/com/team/todoktodok/compose/component/InfinityLazyColumnTest.kt
  android/TodokTodok/app/src/androidTest/java/com/team/todoktodok/compose/discussion/LatestDiscussionsScreenTest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/component/InfinityLazyColumn.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/latest/LatestDiscussionsScreen.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussions/DiscussionsActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussions/DiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussions/latest/LatestDiscussionsFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussions/latest/LatestDiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussions/vm/DiscussionsViewModel.kt
Labels: 🤖 android, ✨ feature

#674 #670 토론방 공유 기능 추가
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/link/ShareLinks.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/utils/ShareUtils.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussiondetail/DiscussionEntryPoint.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussiondetail/vm/DiscussionDetailViewModel.kt
  android/TodokTodok/app/src/main/res/drawable/ic_share.xml
  android/TodokTodok/app/src/main/res/layout/activity_discussion_detail.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/presentation/vm/DiscussionDetailViewModelTest.kt
Labels: 🤖 android, ✨ feature

#694 be -> dev 병합
  backend/src/main/java/todoktodok/backend/comment/application/service/eventhandler/CommentEventHandler.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/response/DiscussionResponse.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/eventhandler/DiscussionEventHandler.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/Discussion.java
  backend/src/main/java/todoktodok/backend/discussion/domain/repository/DiscussionMemberViewRepository.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionApiDocs.java
  backend/src/main/java/todoktodok/backend/global/common/TimeStamp.java
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberApiDocs.java
  backend/src/main/java/todoktodok/backend/notification/application/dto/response/NotificationData.java
  backend/src/main/java/todoktodok/backend/notification/application/dto/response/NotificationItemResponse.java
  backend/src/main/java/todoktodok/backend/notification/application/dto/response/NotificationResponse.java
  backend/src/main/java/todoktodok/backend/notification/application/dto/response/UnreadNotificationResponse.java
  backend/src/main/java/todoktodok/backend/notification/application/service/command/CreateNotificationRequest.java
  backend/src/main/java/todoktodok/backend/notification/application/service/command/NotificationCommandService.java
  backend/src/main/java/todoktodok/backend/notification/application/service/query/NotificationQueryService.java
  backend/src/main/java/todoktodok/backend/notification/domain/Notification.java
  backend/src/main/java/todoktodok/backend/notification/domain/NotificationTarget.java
  backend/src/main/java/todoktodok/backend/notification/domain/NotificationType.java
  backend/src/main/java/todoktodok/backend/notification/domain/repository/NotificationRepository.java
  backend/src/main/java/todoktodok/backend/notification/exception/NotificationForbiddenException.java
  backend/src/main/java/todoktodok/backend/notification/infrastructure/FcmMessagePayload.java
  backend/src/main/java/todoktodok/backend/notification/infrastructure/FcmPushNotifier.java
  backend/src/main/java/todoktodok/backend/notification/presentation/NotificationApiDocs.java
  backend/src/main/java/todoktodok/backend/notification/presentation/NotificationController.java
  backend/src/main/java/todoktodok/backend/reply/application/service/eventhandler/ReplyEventHandler.java
  backend/src/main/resources/db/local/schema.sql
  backend/src/main/resources/db/migration/V7__create_notification.sql
  backend/src/main/resources/db/migration_dev/V8__create_notification.sql
  backend/src/test/java/todoktodok/backend/DatabaseInitializer.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/notification/application/service/command/NotificationCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/notification/application/service/query/NotificationQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/notification/presentation/NotificationControllerTest.java
Labels: ⚙️ backend

#702 #687 활성화된 토론방 개선 쿼리 추가
  backend/src/main/java/todoktodok/backend/comment/domain/repository/CommentRepository.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/ActiveDiscussionCursor.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/DiscussionCursor.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/response/ActiveDiscussionPageResponse.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/response/ActiveDiscussionResponse.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/repository/DiscussionRepository.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/presentation/DiscussionControllerTest.java
Labels: ⚙️ backend

#706 #697 토론방 상세 조회수 API 연결
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/di/OkhttpModule.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/discussion/DiscussionResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/discussion/page/ActiveDiscussion.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/latest/LatestDiscussionResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/latest/LatestDiscussionsResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/log/PrettyJsonLogger.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/preview/DiscussionUiStatePreviewParameterProvider.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/preview/SearchDiscussionsUiStatePreviewParameterProvider.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/res/layout/activity_discussion_detail.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fixture/Discussion.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fixture/LatestDiscussionFixture.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/Discussion.kt
Labels: 🤖 android, ✨ feature

#654 #556 활성화된 토론방 조회 쿼리 및 로직 수정
  backend/src/main/java/todoktodok/backend/comment/domain/repository/CommentRepository.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/ActiveDiscussionCursor.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/DiscussionCursor.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/response/ActiveDiscussionPageResponse.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/response/ActiveDiscussionResponse.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/repository/DiscussionRepository.java
  backend/src/main/java/todoktodok/backend/global/jwt/JwtTokenProvider.java
  backend/src/main/java/todoktodok/backend/member/application/service/command/MemberCommandService.java
  backend/src/main/java/todoktodok/backend/member/application/service/query/MemberQueryService.java
  backend/src/main/java/todoktodok/backend/member/domain/Member.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberApiDocs.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
  backend/src/test/java/todoktodok/backend/book/presentation/BookControllerTest.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/presentation/DiscussionControllerTest.java
  backend/src/test/java/todoktodok/backend/member/application/service/command/MemberCommandServiceConcurrencyTest.java
  backend/src/test/java/todoktodok/backend/member/application/service/command/MemberCommandServiceTest.java
Labels: ⚙️ backend

#719 #714 최신 토론 목록 사용성 개선
  android/TodokTodok/app/src/androidTest/java/com/team/todoktodok/compose/component/DiscussionCardTest.kt
  android/TodokTodok/app/src/androidTest/java/com/team/todoktodok/compose/discussion/latest/LatestDiscussionsScreenTest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/core/component/AlertSnackBar.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/core/component/InfinityLazyColumn.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/DiscussionsActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/DiscussionsScreen.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/all/AllDiscussionsScreen.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/all/AllDiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/component/DiscussionFAB.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/latest/LatestDiscussionsScreen.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/latest/LatestDiscussionsUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/latest/LatestDiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/latest/vm/LatestDiscussionViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/latest/vm/LatestDiscussionViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/model/DiscussionTab.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/model/DiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/vm/DiscussionsViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/preview/AllDiscussionUiStatePreviewParameterProvider.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/preview/LatestDiscussionsPreviewParameterProvider.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussiondetail/DiscussionDetailUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/xml/discussiondetail/vm/DiscussionDetailViewModel.kt
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/domain/src/main/java/com/team/domain/model/latest/PageInfo.kt
Labels: 🤖 android, ✨ feature

#721 #720 Compose-lint dependency 추가
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feature

#722 #714 토론방 검색 로직 버그 수정
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/app/src/androidTest/java/com/team/todoktodok/compose/component/DiscussionCardTest.kt
  android/TodokTodok/app/src/androidTest/java/com/team/todoktodok/compose/discussion/search/SearchDiscussionScreenTest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/core/component/AlertSnackBar.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/core/component/CloverProgressbar.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/core/component/DiscussionCard.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/core/component/DiscussionStat.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/core/component/HighlightedText.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/core/component/ResourceNotFoundContent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/core/extension/Modifier.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/DiscussionsActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/DiscussionsScreen.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/activate/ActivatedDiscussionScreen.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/all/AllDiscussionMode.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/all/AllDiscussionsScreen.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/all/AllDiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/component/DiscussionTab.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/component/SearchDiscussionBar.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/hot/HotDiscussionUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/latest/LatestDiscussionsScreen.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/latest/LatestDiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/model/AllDiscussionMode.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/model/DiscussionUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/model/DiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/my/MyDiscussionUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/popular/PopularDiscussionScreen.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/search/SearchDiscussionScreen.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/search/SearchDiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/discussion/vm/DiscussionsViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/preview/AllDiscussionUiStatePreviewParameterProvider.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/preview/DiscussionUiStatePreviewParameterProvider.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/compose/preview/SearchDiscussionsUiStatePreviewParameterProvider.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/base/BaseViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/component/adapter/DiscussionAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/component/adapter/QueryHighlightingViewHolder.kt
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feature
