Repository woowacourse-teams/2025-Todok-Todok, pull requests merged in 2025-07, with the labels that each got.

#4 #1 버전 카탈로그 정리 및 의존성 추가
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/build.gradle.kts
  android/TodokTodok/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feature

#14 #7 data layer 패키지 추가
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/.gitKeep
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/.gitKeep
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/.gitKeep
Labels: 🤖 android, ✨ feature

#18 #16 공통 도메인 모델 추가
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/domain/build.gradle.kts
  android/TodokTodok/domain/src/main/java/com/example/domain/model/.gitKeep
  android/TodokTodok/domain/src/main/java/com/example/domain/model/Book.kt
  android/TodokTodok/domain/src/main/java/com/example/domain/model/Comment.kt
  android/TodokTodok/domain/src/main/java/com/example/domain/model/DiscussionRoom.kt
  android/TodokTodok/domain/src/main/java/com/example/domain/model/Note.kt
  android/TodokTodok/domain/src/main/java/com/example/domain/model/member/NickNameException.kt
  android/TodokTodok/domain/src/main/java/com/example/domain/model/member/Nickname.kt
  android/TodokTodok/domain/src/main/java/com/example/domain/model/member/User.kt
  android/TodokTodok/domain/src/test/java/com/example/domain/model/NicknameTest.kt
  android/TodokTodok/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feature

#24 #21 ArgumentResolver 추가
  backend/src/main/java/todoktodok/backend/global/resolver/LoginMember.java
  backend/src/main/java/todoktodok/backend/global/resolver/MemberArgumentResolver.java
Labels: ⚙️ backend, ✨ feature

#28 #26 MemberArgumentResolver 로직 수정
  backend/src/main/java/todoktodok/backend/global/config/WebMvcConfig.java
  backend/src/main/java/todoktodok/backend/global/resolver/MemberArgumentResolver.java
Labels: ⚙️ backend, 🔨 fix

#32 #31 이벤트 처리 livedata 및 뷰모델 테스트 세팅
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/core/event/Event.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/core/event/MutableSingleLiveData.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/core/event/SingleLiveData.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/CoroutinesTestExtension.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/ExampleUnitTest.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/InstantTaskExecutorExtension.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/ext/LiveDataExt.kt
Labels: 🤖 android, ✨ feature

#36 #29 기록 생성 및 내 기록 조회 기능 구현
  backend/src/main/java/todoktodok/backend/book/domain/Book.java
  backend/src/main/java/todoktodok/backend/note/application/dto/request/NoteRequest.java
  backend/src/main/java/todoktodok/backend/note/application/dto/response/MyNoteResponse.java
  backend/src/main/java/todoktodok/backend/note/application/service/command/NoteCommandService.java
  backend/src/main/java/todoktodok/backend/note/application/service/query/NoteQueryService.java
  backend/src/main/java/todoktodok/backend/note/domain/Note.java
  backend/src/main/java/todoktodok/backend/note/domain/repository/NoteRepository.java
  backend/src/main/java/todoktodok/backend/note/presentation/NoteController.java
  backend/src/main/java/todoktodok/backend/shelf/domain/repository/ShelfRepository.java
  backend/src/test/java/todoktodok/backend/DatabaseInitializer.java
  backend/src/test/java/todoktodok/backend/note/application/service/command/NoteCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/note/domain/NoteTest.java
  backend/src/test/java/todoktodok/backend/note/presentation/NoteControllerTest.java
Labels: ⚙️ backend, ✨ feature

#37 #22 도서 검색 기능 구현
  backend/src/main/java/todoktodok/backend/book/application/service/query/BookQueryService.java
  backend/src/main/java/todoktodok/backend/book/domain/repository/BookRepository.java
  backend/src/main/java/todoktodok/backend/book/presentation/BookController.java
  backend/src/test/java/todoktodok/backend/book/application/service/query/BookQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/book/presentation/BookControllerTest.java
  backend/src/test/java/todoktodok/backend/member/presentation/fixture/MemberFixture.java
Labels: ⚙️ backend, ✨ feature

#40 #33 작성자 신고 및 차단 기능 구현
  backend/src/main/java/todoktodok/backend/member/application/service/command/MemberCommandService.java
  backend/src/main/java/todoktodok/backend/member/domain/Block.java
  backend/src/main/java/todoktodok/backend/member/domain/MemberReport.java
  backend/src/main/java/todoktodok/backend/member/domain/repository/BlockRepository.java
  backend/src/main/java/todoktodok/backend/member/domain/repository/MemberReportRepository.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
  backend/src/test/java/todoktodok/backend/DatabaseInitializer.java
  backend/src/test/java/todoktodok/backend/book/application/service/query/BookQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/book/presentation/BookControllerTest.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/command/DiscussionCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/presentation/DiscussionControllerTest.java
  backend/src/test/java/todoktodok/backend/member/application/service/command/MemberCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/member/presentation/MemberControllerTest.java
  backend/src/test/java/todoktodok/backend/note/application/service/command/NoteCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/note/presentation/NoteControllerTest.java
  backend/src/test/java/todoktodok/backend/shelf/application/service/query/ShelfQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/shelf/presentation/ShelfControllerTest.java
Labels: ⚙️ backend, ✨ feature

#48 #46 JWT 임시토큰 로직 수정
  backend/src/main/java/todoktodok/backend/global/config/WebMvcConfig.java
  backend/src/main/java/todoktodok/backend/global/jwt/JwtTokenProvider.java
  backend/src/main/java/todoktodok/backend/global/jwt/TokenInfo.java
  backend/src/main/java/todoktodok/backend/global/resolver/TempMember.java
  backend/src/main/java/todoktodok/backend/global/resolver/TempMemberArgumentResolver.java
  backend/src/main/java/todoktodok/backend/member/application/service/command/MemberCommandService.java
  backend/src/main/java/todoktodok/backend/member/domain/repository/BlockRepository.java
  backend/src/main/java/todoktodok/backend/member/domain/repository/MemberReportRepository.java
  backend/src/main/java/todoktodok/backend/member/domain/repository/MemberRepository.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
  backend/src/main/java/todoktodok/backend/note/application/service/command/NoteCommandService.java
  backend/src/main/java/todoktodok/backend/note/domain/Note.java
  backend/src/test/java/todoktodok/backend/member/application/service/command/MemberCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/member/presentation/MemberControllerTest.java
  backend/src/test/java/todoktodok/backend/note/application/service/command/NoteCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/note/presentation/NoteControllerTest.java
Labels: ⚙️ backend, ✨ feature

#52 #45 내 서재에 도서 추가 기능 구현
  .github/PULL_REQUEST_TEMPLATE.md
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/todoktodok/backend/global/interceptor/AuthorizationInterceptor.java
  backend/src/main/java/todoktodok/backend/shelf/application/dto/request/ShelfRequest.java
  backend/src/main/java/todoktodok/backend/shelf/application/service/command/ShelfCommandService.java
  backend/src/main/java/todoktodok/backend/shelf/domain/Shelf.java
  backend/src/main/java/todoktodok/backend/shelf/presentation/ShelfController.java
  backend/src/test/java/todoktodok/backend/shelf/application/service/command/ShelfCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/shelf/presentation/ShelfControllerTest.java
Labels: ⚙️ backend, ✨ feature

#55 #54 토론방 목록 Data 레이어 및 ViewModel 구현
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/app/src/main/java/com/example/todoktodok/AppContainer.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/DiscussionRoomDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/DiscussionRoomDataSourceImpl.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/DataSourceModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/RepositoryModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DiscussionRoomRepositoryImpl.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/vm/DiscussionViewModel.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/vm/DiscussionViewModelFactory.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/Fixtures.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/data/repository/DiscussionRoomRepositoryImplTest.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/fake/FakeDiscussionRoomRepository.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/presentation/vm/DiscussionViewModelTest.kt
  android/TodokTodok/domain/src/main/java/com/example/domain/model/DiscussionRoom.kt
  android/TodokTodok/domain/src/main/java/com/example/domain/repository/DiscussionRoomRepository.kt
  android/TodokTodok/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feature

#53 #42 도서 검색에 RecyclerView 구현
  android/TodokTodok/app/src/androidTest/java/com/example/todoktodok/presentation/view/BooksFixture.kt
  android/TodokTodok/app/src/androidTest/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksActivityTest.kt
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/library/BookSearchActivity.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/library/LibraryFragment.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/OnSelectBookListener.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksActivity.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksAdapter.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksViewHolder.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/vm/SearchBooksViewModel.kt
  android/TodokTodok/app/src/main/res/drawable/btn_green_1a_oval.xml
  android/TodokTodok/app/src/main/res/drawable/btn_plus_oval.xml
  android/TodokTodok/app/src/main/res/drawable/btn_plus_white.xml
  android/TodokTodok/app/src/main/res/layout/activity_search_books.xml
  android/TodokTodok/app/src/main/res/layout/fragment_library.xml
  android/TodokTodok/app/src/main/res/values/dimen.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feature

#58 #10 토론 목록 화면 구현
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/DefaultDiscussionRoomDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/DataSourceModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/RepositoryModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DefaultDiscussionRoomRepository.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/DiscussionFragment.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/DiscussionUiEvent.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/adapter/DiscussionRoomAdapter.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/adapter/DiscussionRoomViewHolder.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/adapter/DiscussionRoomsDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/adapter/OnDiscussionRoomListener.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/vm/DiscussionViewModel.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/vm/DiscussionViewModelFactory.kt
  android/TodokTodok/app/src/main/res/drawable/btn_floating.xml
  android/TodokTodok/app/src/main/res/drawable/btn_floating_plus.xml
  android/TodokTodok/app/src/main/res/layout/fragment_discussion.xml
  android/TodokTodok/app/src/main/res/layout/item_discussion_room.xml
  android/TodokTodok/app/src/main/res/values/colors.xml
  android/TodokTodok/app/src/main/res/values/dimen.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/main/res/values/style.xml
  android/TodokTodok/app/src/test/java/com/example/todoktodok/data/repository/DefaultDiscussionRoomRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/ext/LiveDataExt.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/presentation/vm/DiscussionViewModelTest.kt
Labels: 🤖 android, ✨ feature

#63 #61 토론 상세 DataLayer 및 ViewModel 추가
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/CommentDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/DefaultCommentDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/DefaultDiscussionRoomDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/DiscussionRoomDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DefaultCommentRepository.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DefaultDiscussionRoomRepository.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/detail/vm/DiscussionRoomDetailViewModel.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/data/repository/DefaultCommentRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/data/repository/DefaultDiscussionRoomRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/fake/FakeCommentRepository.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/fake/FakeDiscussionRoomRepository.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/fixture/Comment.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/fixture/DiscussionRoom.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/fixture/User.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/presentation/vm/DiscussionRoomDetailViewModelTest.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/presentation/vm/DiscussionViewModelTest.kt
  android/TodokTodok/domain/src/main/java/com/example/domain/repository/CommentRepository.kt
  android/TodokTodok/domain/src/main/java/com/example/domain/repository/DiscussionRoomRepository.kt
Labels: 🤖 android, ✨ feature

#74 #73 도서 초기 데이터 추가 및 설정 변경
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/test/resources/application-test.yml
Labels: ⚙️ backend, ✨ feature

#79 #69 토론방 생성 xml 구현
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/DiscussionFragment.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/create/DiscussionRoomCreateActivity.kt
  android/TodokTodok/app/src/main/res/layout/activity_discussion_room_create.xml
  android/TodokTodok/app/src/main/res/values/dimen.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feature

#85 #75 CI/CD 코드 수정
  .github/workflows/backend-ci-cd-prod.yml
  .github/workflows/backend-ci.yml
Labels: ⚙️ backend, ✨ feature

#82 #81 Swagger 적용
  backend/src/main/java/todoktodok/backend/book/presentation/BookController.java
  backend/src/main/java/todoktodok/backend/comment/presentation/CommentController.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionController.java
  backend/src/main/java/todoktodok/backend/global/config/SwaggerConfig.java
  backend/src/main/java/todoktodok/backend/global/config/WebMvcConfig.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
  backend/src/main/java/todoktodok/backend/note/presentation/NoteController.java
  backend/src/main/java/todoktodok/backend/shelf/presentation/ShelfController.java
Labels: ⚙️ backend

#87 #80 네트워크 연결 세팅
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/example/todoktodok/AppContainer.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/DataSourceModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/OkhttpModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/RetrofitModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/ServiceModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/service/NoteService.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/DiscussionFragment.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/create/DiscussionRoomCreateActivity.kt
  android/TodokTodok/app/src/main/res/layout/activity_discussion_room_create.xml
  android/TodokTodok/app/src/main/res/values/dimen.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/gradle.properties
Labels: 🤖 android, ✨ feature

#78 #70 토론방별 댓글 목록 조회 구현
  backend/src/main/java/todoktodok/backend/comment/application/dto/response/CommentResponse.java
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentQueryService.java
  backend/src/main/java/todoktodok/backend/comment/domain/repository/CommentRepository.java
  backend/src/main/java/todoktodok/backend/comment/presentation/CommentController.java
  backend/src/main/java/todoktodok/backend/member/application/dto/response/MemberResponse.java
  backend/src/test/java/todoktodok/backend/comment/application/service/query/CommentQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/comment/presentation/CommentControllerTest.java
Labels: ⚙️ backend, ✨ feature

#106 #104 더미 데이터 추가
  backend/src/main/resources/data.sql
Labels: ⚙️ backend, ✨ feature

#115 #114 dev 브랜치 변경사항 반영 및 액세스 토큰 기한 연장
  .github/workflows/backend-ci-cd-prod.yml
  backend/src/main/java/todoktodok/backend/comment/presentation/CommentController.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionController.java
  backend/src/main/java/todoktodok/backend/global/jwt/JwtTokenProvider.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
  backend/src/main/java/todoktodok/backend/note/presentation/NoteController.java
  backend/src/main/java/todoktodok/backend/shelf/presentation/ShelfController.java
  backend/src/main/resources/data.sql
Labels: ⚙️ backend, ✨ feature

#100 #98 도서 검색 viewModel과 데이터 레이어 구현
  android/TodokTodok/app/goole-service.json
  android/TodokTodok/app/src/androidTest/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksRequestActivityTest.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/BookDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/LocalBookDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/RemoteBookDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/DataSourceModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/RepositoryModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/ServiceModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/request/SaveBookRequest.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/request/SearchBooksRequest.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/response/BookResponse.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/service/BookService.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/service/LibraryService.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DefaultBookRepository.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/library/LibraryFragment.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/library/vm/LibraryViewModel.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksActivity.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksAdapter.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksUiEvent.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksUiState.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksViewHolder.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/vm/SearchBooksViewModel.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/vm/SearchBooksViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/start/login/LoginFragment.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/state/BookState.kt
  android/TodokTodok/app/src/main/res/layout/item_book_search.xml
  android/TodokTodok/domain/src/main/java/com/example/domain/repository/BookRepository.kt
Labels: 🤖 android, ✨ feature

#128 #127 authintercepter 적용
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/BookDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/book/BookDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/book/LocalBookDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/book/RemoteBookDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/comment/CommentRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/comment/DefaultCommentRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/discussion/DefaultDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/DataSourceModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/service/BookService.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/service/CommentService.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/service/DiscussionService.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/service/Key.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/service/LibraryService.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DefaultBookRepository.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DefaultCommentRepository.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/data/repository/DefaultBookRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/data/repository/DefaultCommentRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/fake/datasource/FakeBookDataSource.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/fake/datasource/FakeCommentRemoteDataSource.kt
Labels: 🤖 android, ✨ feature

#133 #131 CI ktlint 적용
  android/TodokTodok/app/src/test/java/com/example/todoktodok/data/repository/DefaultBookRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/fake/datasource/FakeBookDataSource.kt
Labels: 🤖 android, 🔨 fix

#134 #99 토론방 생성화면 구현
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/discussion/DefaultDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/discussion/DiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/note/NoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/note/RemoteNoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/DataSourceModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/request/DiscussionRequest.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/service/DiscussionService.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/service/NoteService.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DefaultDiscussionRepository.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DefaultNoteRepository.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/create/DiscussionCreateActivity.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/create/DiscussionCreateUiEvent.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/create/OwnedNotesBottomSheet.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/create/adapter/NoteAdapter.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/create/adapter/NoteViewHolder.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/create/adapter/NotesDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/create/vm/DiscussionCreateViewModel.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/create/vm/DiscussionCreateViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/detail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/discussions/DiscussionFragment.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/discussion/discussions/vm/DiscussionViewModel.kt
  android/TodokTodok/app/src/main/res/drawable/bg_create_discussion.xml
  android/TodokTodok/app/src/main/res/drawable/bg_gray_76_radius_8dp.xml
  android/TodokTodok/app/src/main/res/layout/activity_discussion_create.xml
  android/TodokTodok/app/src/main/res/layout/bottom_sheet_owned_notes.xml
  android/TodokTodok/app/src/main/res/layout/fragment_note.xml
  android/TodokTodok/app/src/main/res/layout/item_note.xml
  android/TodokTodok/app/src/main/res/values/style.xml
  android/TodokTodok/domain/src/main/java/com/example/domain/repository/DiscussionRepository.kt
  android/TodokTodok/domain/src/main/java/com/example/domain/repository/NoteRepository.kt
  android/TodokTodok/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feature

#136 #135 구글 로그인 수정
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/member/MemberDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/member/RemoteMemberDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/request/SignUpRequest.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/response/SignUpResponse.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/service/MemberService.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/auth/login/GoogleLoginManager.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/auth/login/LoginFragment.kt
  android/TodokTodok/app/src/main/res/layout/activity_auth.xml
  android/TodokTodok/gradle/libs.versions.toml
Labels: 🤖 android, 🔨 fix

#139 138 공통 코드 리팩토링
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/core/JwtUtils.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/book/BookRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/book/DefaultBookRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/book/LocalBookDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/member/DefaultMemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/member/MemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/note/DefaultNoteRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/datasource/note/NoteRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/DataSourceModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/di/RepositoryModule.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/request/CommentRequest.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/request/DiscussionRequest.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/network/response/comment/CommentResponse.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DefaultBookRepository.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DefaultMemberRepository.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/data/repository/DefaultNoteRepository.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/library/LibraryFragment.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/library/adapter/BooksAdapter.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/library/adapter/BooksDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/library/adapter/BooksViewHolder.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/note/adapter/MyLibraryBooksAdapter.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/SearchBooksActivity.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/adapter/OnSelectBookListener.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/adapter/SearchBooksAdapter.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/adapter/SearchBooksDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/example/todoktodok/presentation/view/searchbooks/adapter/SearchBooksViewHolder.kt
  android/TodokTodok/app/src/main/res/drawable/btn_plus_oval.xml
  android/TodokTodok/app/src/main/res/layout/activity_discussion_create.xml
  android/TodokTodok/app/src/main/res/layout/activity_discussion_detail.xml
  android/TodokTodok/app/src/main/res/layout/activity_search_books.xml
  android/TodokTodok/app/src/main/res/layout/bottom_sheet_owned_notes.xml
  android/TodokTodok/app/src/main/res/layout/fragment_discussion.xml
  android/TodokTodok/app/src/main/res/layout/fragment_library.xml
  android/TodokTodok/app/src/main/res/layout/fragment_note.xml
  android/TodokTodok/app/src/main/res/layout/fragment_signup.xml
  android/TodokTodok/app/src/main/res/layout/item_book.xml
  android/TodokTodok/app/src/main/res/layout/item_book_search.xml
  android/TodokTodok/app/src/main/res/layout/item_comment.xml
  android/TodokTodok/app/src/main/res/layout/item_discussion.xml
  android/TodokTodok/app/src/main/res/layout/item_note.xml
  android/TodokTodok/app/src/main/res/layout/owned_books_bottom_sheet.xml
  android/TodokTodok/app/src/main/res/values/dimen.xml
  android/TodokTodok/app/src/test/java/com/example/todoktodok/data/repository/DefaultBookRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/fake/datasource/FakeBookRemoteDataSource.kt
  android/TodokTodok/app/src/test/java/com/example/todoktodok/fake/datasource/FakeNoteDataSource.kt
  android/TodokTodok/gradle/libs.versions.toml
Labels: 🤖 android, 🔨 fix

#146 #143 토론방 생성 수정
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/request/DiscussionRequest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultDiscussionRepository.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/DiscussionRepository.kt
Labels: 🤖 android, 🔨 fix

#145 #144 Issue, PR 자동화
  .github/workflows/issue-opened.yml
  .github/workflows/pr-closed-linked-close-issue.yml
  .github/workflows/pr-opened.yml
Labels: ⚙️ backend, ✨ feature

#154 chore: pr closed linked close issue 스크립트 수정
  .github/workflows/pr-closed-linked-close-issue.yml
Labels: ✨ feature

#155 #153 토론방 단일 조회 API 수정
  .github/workflows/pr-closed-linked-close-issue.yml
  backend/src/main/java/todoktodok/backend/discussion/application/dto/response/DiscussionResponse.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/presentation/DiscussionControllerTest.java
Labels: ⚙️ backend, ✨ feature

#158 #148 ut 용 토론방 화면 생성
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/ext/EditTextExt.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussions/DiscussionsActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussions/all/AllDiscussionFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussions/all/AllDiscussionUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussions/all/adapter/DiscussionAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussions/all/adapter/DiscussionDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussions/all/adapter/DiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussions/all/vm/AllDiscussionViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussions/all/vm/AllDiscussionViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussions/my/MyDiscussionFragment.kt
  android/TodokTodok/app/src/main/res/drawable/btn_search.xml
  android/TodokTodok/app/src/main/res/drawable/img_main_logo.xml
  android/TodokTodok/app/src/main/res/layout/activity_discussions.xml
  android/TodokTodok/app/src/main/res/layout/fragment_all_discussion.xml
  android/TodokTodok/app/src/main/res/layout/fragment_my_discussion.xml
  android/TodokTodok/app/src/main/res/layout/item_ut_discussion.xml
  android/TodokTodok/app/src/main/res/values/colors.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/main/res/values/style.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/presentation/vm/AllDiscussionViewModelTest.kt
Labels: 🤖 android, ✨ feature

#169 #168 api versining으로 인한 base url 수정
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/BookService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/CommentService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/DiscussionService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/LibraryService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/MemberService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/NoteService.kt
Labels: 🤖 android, ✨ feature

#177 #159 UT 토론방 생성 화면 구현
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/book/BookRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/book/DefaultBookRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DefaultDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/request/CreateBookRequest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/request/DiscussionRoomRequest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/DiscussionService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/LibraryService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultBookRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultDiscussionRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussion/CreateDiscussionRoomActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussion/CreateDiscussionRoomUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussion/CreateDiscussionRoomUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussion/SearchBookErrorType.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussion/vm/CreateDiscussionRoomViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussion/vm/CreateDiscussionRoomViewModelFactory.kt
  android/TodokTodok/app/src/main/res/layout/activity_create_discussion_room.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/FakeDiscussionRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeBookRemoteDataSource.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeDiscussionRemoteDataSource.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/BookRepository.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/DiscussionRepository.kt
Labels: 🤖 android, ✨ feature

#178 #161 UT 토론방 상세화면 댓글 UI 개선
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussiondetail/BottomSheetVisibilityListener.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussiondetail/CommentCreateBottomSheet.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussiondetail/CommentCreateUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussiondetail/DiscussionDetailUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussiondetail/vm/CommentCreateViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussiondetail/vm/CommentCreateViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/utview/discussiondetail/vm/DiscussionDetailViewModel.kt
  android/TodokTodok/app/src/main/res/layout/fragment_comment_create_bottom_sheet.xml
  android/TodokTodok/app/src/main/res/layout/ut_activity_discussion_detail.xml
Labels: 🤖 android, ✨ feature

#175 #173 UT용 초기 데이터 추가
  backend/src/main/resources/data.sql
Labels: ⚙️ backend, ✨ feature

#183 #182 알라딘 API로 도서 검색 시 isbn이 null이거나 없는 경우 수정
  backend/src/main/java/todoktodok/backend/book/application/service/query/BookQueryService.java
Labels: ⚙️ backend, 🔨 fix

#184 hotfix be -> dev 병합
  backend/src/main/java/todoktodok/backend/book/application/service/query/BookQueryService.java
Labels: ⚙️ backend
