Repository woowacourse-teams/2025-Todok-Todok, pull requests merged in 2025-08, with the labels that each got.

#192 #191 네트워크 json 응답 로깅 라이브러리 추가
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/core/PrettyJsonLogger.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/di/OkhttpModule.kt
Labels: 🤖 android, ✨ feature

#194 #193 로그인 스플래시 애니메이션 추가
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/auth/login/LoginFragment.kt
  android/TodokTodok/app/src/main/res/drawable/img_app_intro_bg.jpg
  android/TodokTodok/app/src/main/res/layout/fragment_login.xml
  android/TodokTodok/app/src/main/res/values/themes.xml
Labels: 🤖 android, ✨ feature

#199 #198 백엔드 코드래빗 설정 추가
  .coderabbit.yml
  docs/be-code-convention.md
  docs/wooteco-java-style-guide.md
Labels: ⚙️ backend, ✨ feature

#210 #209 코드레빗 request change시 병합 불가 문제 해결
  .coderabbit.yml
Labels: 🤖 android, 🔨 fix

#206 #190 토론방 상세화면 수정
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/auth/AuthInterceptor.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/vm/DiscussionDetailViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/vm/DiscussionDetailViewModelFactory.kt
  android/TodokTodok/app/src/main/res/drawable/btn_comment.xml
  android/TodokTodok/app/src/main/res/drawable/btn_heart_background.xml
  android/TodokTodok/app/src/main/res/drawable/btn_heart_empty.xml
  android/TodokTodok/app/src/main/res/drawable/btn_heart_filled.xml
  android/TodokTodok/app/src/main/res/drawable/btn_option.xml
  android/TodokTodok/app/src/main/res/layout/activity_discussion_detail.xml
  android/TodokTodok/app/src/main/res/layout/menu_external_discussion.xml
  android/TodokTodok/app/src/main/res/layout/menu_owned_discussion.xml
  android/TodokTodok/app/src/main/res/menu/discussion_option_menu.xml
  android/TodokTodok/app/src/main/res/values/colors.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/presentation/vm/DiscussionDetailViewModelTest.kt
Labels: 🤖 android

#211 #203 유저 프로필 화면 구현
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/member/DefaultMemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/member/MemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultMemberRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionsUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/ActivatedBooksFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/CreatedDiscussionsRoomFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/JoinedDiscussionsRoomFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/ProfileActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/ProfileUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/UserProfileTab.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/adapter/ContentPagerAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/adapter/ProfileAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/adapter/ProfileDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/adapter/ProfileItems.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/viewholder/UserInformationViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/viewholder/UserProfileHeaderViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/viewholder/UserTabViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/vm/ProfileViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/vm/ProfileViewModelFactory.kt
  android/TodokTodok/app/src/main/res/drawable/ic_setting.xml
  android/TodokTodok/app/src/main/res/layout/activity_discussions.xml
  android/TodokTodok/app/src/main/res/layout/activity_profile.xml
  android/TodokTodok/app/src/main/res/layout/fragment_activated_books.xml
  android/TodokTodok/app/src/main/res/layout/fragment_created_discussions_room.xml
  android/TodokTodok/app/src/main/res/layout/fragment_joined_discussions_room.xml
  android/TodokTodok/app/src/main/res/layout/item_user_header.xml
  android/TodokTodok/app/src/main/res/layout/item_user_information.xml
  android/TodokTodok/app/src/main/res/layout/item_user_tab.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/main/res/values/style.xml
  android/TodokTodok/domain/src/main/java/com/team/domain/model/member/Profile.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/MemberRepository.kt
Labels: 🤖 android, ✨ feature

#213 #212 사용하지 않는 api 정리 및 v2 제거
  backend/src/main/java/todoktodok/backend/book/presentation/BookController.java
  backend/src/main/java/todoktodok/backend/book/presentation/BookControllerV2.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/request/DiscussionRequest.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/request/DiscussionRequestV2.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/response/DiscussionResponse.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/command/DiscussionCommandService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/Discussion.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionController.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionControllerV2.java
  backend/src/main/java/todoktodok/backend/note/application/dto/request/NoteRequest.java
  backend/src/main/java/todoktodok/backend/note/application/dto/response/MyNoteResponse.java
  backend/src/main/java/todoktodok/backend/note/application/service/command/NoteCommandService.java
  backend/src/main/java/todoktodok/backend/note/application/service/query/NoteQueryService.java
  backend/src/main/java/todoktodok/backend/note/domain/Note.java
  backend/src/main/java/todoktodok/backend/note/domain/repository/NoteRepository.java
  backend/src/main/java/todoktodok/backend/note/presentation/NoteController.java
  backend/src/main/java/todoktodok/backend/shelf/application/dto/request/ShelfRequest.java
  backend/src/main/java/todoktodok/backend/shelf/application/service/command/ShelfCommandService.java
  backend/src/main/java/todoktodok/backend/shelf/application/service/query/ShelfQueryService.java
  backend/src/main/java/todoktodok/backend/shelf/domain/Shelf.java
  backend/src/main/java/todoktodok/backend/shelf/domain/repository/ShelfRepository.java
  backend/src/main/java/todoktodok/backend/shelf/presentation/ShelfController.java
  backend/src/main/resources/data.sql
  backend/src/test/java/todoktodok/backend/DatabaseInitializer.java
  backend/src/test/java/todoktodok/backend/book/presentation/BookControllerTest.java
  backend/src/test/java/todoktodok/backend/comment/application/service/command/CommentCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/comment/application/service/query/CommentQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/comment/domain/CommentTest.java
  backend/src/test/java/todoktodok/backend/comment/presentation/CommentControllerTest.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/command/DiscussionCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/domain/DiscussionTest.java
  backend/src/test/java/todoktodok/backend/discussion/domain/fixture/DiscussionFixture.java
  backend/src/test/java/todoktodok/backend/discussion/presentation/DiscussionControllerTest.java
  backend/src/test/java/todoktodok/backend/discussion/presentation/DiscussionControllerV2Test.java
  backend/src/test/java/todoktodok/backend/discussion/presentation/fixture/DiscussionFixture.java
  backend/src/test/java/todoktodok/backend/member/presentation/MemberControllerTest.java
  backend/src/test/java/todoktodok/backend/note/application/service/command/NoteCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/note/application/service/query/NoteQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/note/domain/NoteTest.java
  backend/src/test/java/todoktodok/backend/note/presentation/NoteControllerTest.java
  backend/src/test/java/todoktodok/backend/note/presentation/fixture/NoteFixture.java
  backend/src/test/java/todoktodok/backend/shelf/application/service/command/ShelfCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/shelf/application/service/query/ShelfQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/shelf/presentation/ShelfControllerTest.java
Labels: ⚙️ backend

#222 #221 충돌해결
  backend/build.gradle
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
Labels: ⚙️ backend

#224 #223 data.sql 수정
  backend/src/main/resources/data.sql
Labels: ⚙️ backend

#228 #227 도커 이미지 태그 수정
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
Labels: ⚙️ backend

#217 #216 댓글 목록 및 댓글 생성 개선
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/discussion/DiscussionResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/DiscussionService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/LibraryService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultCommentRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/commentcreate/CommentCreateBottomSheet.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/commentcreate/vm/CommentCreateViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/commentcreate/vm/CommentCreateViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/CommentsBottomSheet.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/CommentsUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/adapter/CommentAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/adapter/CommentViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/adapter/CommentsDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/vm/CommentsViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/vm/CommentsViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/vm/DiscussionDetailViewModel.kt
  android/TodokTodok/app/src/main/res/layout/activity_discussion_detail.xml
  android/TodokTodok/app/src/main/res/layout/fragment_comment_create_bottom_sheet.xml
  android/TodokTodok/app/src/main/res/layout/fragment_comments_bottom_sheet.xml
  android/TodokTodok/app/src/main/res/layout/item_comment.xml
  android/TodokTodok/app/src/main/res/layout/item_discussion_detail.xml
  android/TodokTodok/app/src/main/res/values/style.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/repository/DefaultCommentRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/repository/DefaultDiscussionRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fixture/Discussion.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/Discussion.kt
Labels: 🤖 android, ✨ feature

#259 #258 댓글 목록 조회 시 좋아요 수, 답글 수 추가
  backend/src/main/java/todoktodok/backend/comment/application/dto/response/CommentResponse.java
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentLikeCountDto.java
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentQueryService.java
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentReplyCountDto.java
  backend/src/main/java/todoktodok/backend/comment/domain/repository/CommentLikeRepository.java
  backend/src/main/java/todoktodok/backend/reply/domain/repository/ReplyRepository.java
  backend/src/test/java/todoktodok/backend/comment/application/service/query/CommentQueryServiceTest.java
Labels: ⚙️ backend, ✨ feature

#268 #266 토끼 진정제 투입(증분 리뷰 비활성화
  .coderabbit.yml
Labels: 🤖 android, ✨ feature

#260 #236 사용자 프로필 화면의 생성한 토론방 참여한 토론방 탭 화면 추가
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DefaultDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/member/DefaultMemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/member/MemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/MemberService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultMemberRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/ProfileActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/activated/ActivatedBooksFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/activated/adapter/BooksAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/activated/adapter/BooksViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/adapter/ContentPagerAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/CreatedDiscussionsRoomFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/adapter/UserDiscussionAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/adapter/UserDiscussionDiffCallback.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/adapter/UserDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/vm/CreatedDiscussionsViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/vm/CreatedDiscussionsViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/joined/JoinedDiscussionsRoomFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/joined/vm/JoinedDiscussionsViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/joined/vm/JoinedDiscussionsViewModelFactory.kt
  android/TodokTodok/app/src/main/res/layout/fragment_created_discussions_room.xml
  android/TodokTodok/app/src/main/res/layout/fragment_joined_discussions_room.xml
  android/TodokTodok/app/src/main/res/layout/item_user_discussion.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/datasource/DefaultMemberRemoteDataSourceTest.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/DiscussionFilter.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/member/MemberDiscussionType.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/member/MemberId.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/MemberRepository.kt
Labels: 🤖 android, ✨ feature

#263 #256 프로필 정보 조회, 수정 기능 구현
  .coderabbit.yml
  backend/src/main/java/todoktodok/backend/member/application/dto/request/ProfileUpdateRequest.java
  backend/src/main/java/todoktodok/backend/member/application/dto/response/ProfileResponse.java
  backend/src/main/java/todoktodok/backend/member/application/dto/response/ProfileUpdateResponse.java
  backend/src/main/java/todoktodok/backend/member/application/service/command/MemberCommandService.java
  backend/src/main/java/todoktodok/backend/member/application/service/query/MemberQueryService.java
  backend/src/main/java/todoktodok/backend/member/domain/Member.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
  backend/src/test/java/todoktodok/backend/member/application/service/command/MemberCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/member/application/service/query/MemberQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/member/domain/MemberTest.java
  backend/src/test/java/todoktodok/backend/member/presentation/MemberControllerTest.java
Labels: ⚙️ backend, ✨ feature

#269 #267 대댓글 좋아요 기능 구현
  backend/src/main/java/todoktodok/backend/comment/application/service/command/CommentCommandService.java
  backend/src/main/java/todoktodok/backend/comment/presentation/CommentController.java
  backend/src/main/java/todoktodok/backend/reply/application/service/command/ReplyCommandService.java
  backend/src/main/java/todoktodok/backend/reply/domain/ReplyLike.java
  backend/src/main/java/todoktodok/backend/reply/domain/repository/ReplyLikeRepository.java
  backend/src/main/java/todoktodok/backend/reply/presentation/ReplyController.java
  backend/src/test/java/todoktodok/backend/DatabaseInitializer.java
  backend/src/test/java/todoktodok/backend/comment/application/service/command/CommentCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/comment/presentation/CommentControllerTest.java
  backend/src/test/java/todoktodok/backend/reply/application/service/command/ReplyCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/reply/presentation/ReplyControllerTest.java
Labels: ⚙️ backend, ✨ feature

#270 #265 활동 도서 전체 조회 기능 구현
  backend/src/main/java/todoktodok/backend/book/domain/repository/BookRepository.java
  backend/src/main/java/todoktodok/backend/member/application/service/query/MemberQueryService.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
  backend/src/test/java/todoktodok/backend/member/application/service/query/MemberQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/member/presentation/MemberControllerTest.java
Labels: ⚙️ backend, ✨ feature

#281 #279 토론방 수정 및 삭제 기능 구현
  backend/src/main/java/todoktodok/backend/comment/domain/repository/CommentRepository.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/request/DiscussionUpdateRequest.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/command/DiscussionCommandService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/Discussion.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionController.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/command/DiscussionCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/presentation/DiscussionControllerTest.java
Labels: ⚙️ backend, ✨ feature

#282 #280 댓글 별 대댓글 목록 조회 API 추가
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentLikeCountDto.java
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentQueryService.java
  backend/src/main/java/todoktodok/backend/comment/domain/Comment.java
  backend/src/main/java/todoktodok/backend/comment/domain/repository/CommentLikeRepository.java
  backend/src/main/java/todoktodok/backend/reply/application/dto/response/ReplyResponse.java
  backend/src/main/java/todoktodok/backend/reply/application/service/query/ReplyLikeCountDto.java
  backend/src/main/java/todoktodok/backend/reply/application/service/query/ReplyQueryService.java
  backend/src/main/java/todoktodok/backend/reply/domain/Reply.java
  backend/src/main/java/todoktodok/backend/reply/domain/repository/ReplyLikeRepository.java
  backend/src/main/java/todoktodok/backend/reply/domain/repository/ReplyRepository.java
  backend/src/main/java/todoktodok/backend/reply/presentation/ReplyController.java
  backend/src/main/resources/db/data.sql
  backend/src/test/java/todoktodok/backend/DatabaseInitializer.java
  backend/src/test/java/todoktodok/backend/reply/application/service/command/ReplyCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/reply/application/service/query/ReplyQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/reply/presentation/ReplyControllerTest.java
Labels: ⚙️ backend, ✨ feature

#283 #274 회원별 토론방 필터 조회 기능 구현
  backend/src/main/java/todoktodok/backend/discussion/domain/repository/DiscussionRepository.java
  backend/src/main/java/todoktodok/backend/member/application/dto/response/MemberDiscussionResponse.java
  backend/src/main/java/todoktodok/backend/member/application/service/query/MemberQueryService.java
  backend/src/main/java/todoktodok/backend/member/domain/MemberDiscussionFilterType.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
  backend/src/test/java/todoktodok/backend/member/application/service/query/MemberQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/member/presentation/MemberControllerTest.java
Labels: ⚙️ backend, ✨ feature

#285 #284 토론방 좋아요 생성 및 삭제 구현
  backend/src/main/java/todoktodok/backend/comment/application/service/command/CommentCommandService.java
  backend/src/main/java/todoktodok/backend/comment/presentation/CommentController.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/command/DiscussionCommandService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/DiscussionLike.java
  backend/src/main/java/todoktodok/backend/discussion/domain/repository/DiscussionLikeRepository.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionController.java
  backend/src/main/java/todoktodok/backend/reply/application/service/command/ReplyCommandService.java
  backend/src/main/java/todoktodok/backend/reply/presentation/ReplyController.java
  backend/src/test/java/todoktodok/backend/DatabaseInitializer.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/command/DiscussionCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/presentation/DiscussionControllerTest.java
Labels: ⚙️ backend, ✨ feature

#289 #273 모니터링 및 로깅 전략 세팅
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/app/src/main/java/com/team/todoktodok/App.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/log/AppLogger.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/log/ReleaseCrashlyticsTree.kt
  android/TodokTodok/build.gradle.kts
  android/TodokTodok/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feature

#292 #291 토론방 단일 조회 및 필터 조회 시 좋아요 수와 댓글 수 추가 반환 기능 구현
  backend/src/main/java/todoktodok/backend/comment/domain/repository/CommentRepository.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/response/DiscussionResponse.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionCommentCountDto.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionLikeCountDto.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/Discussion.java
  backend/src/main/java/todoktodok/backend/discussion/domain/repository/DiscussionLikeRepository.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionController.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
Labels: ⚙️ backend

#294 #287 차단한 회원 전체 조회, 차단 해제 기능 구현
  backend/src/main/java/todoktodok/backend/member/application/dto/response/BlockMemberResponse.java
  backend/src/main/java/todoktodok/backend/member/application/service/command/MemberCommandService.java
  backend/src/main/java/todoktodok/backend/member/application/service/query/MemberQueryService.java
  backend/src/main/java/todoktodok/backend/member/domain/repository/BlockRepository.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
  backend/src/test/java/todoktodok/backend/DatabaseInitializer.java
  backend/src/test/java/todoktodok/backend/member/application/service/command/MemberCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/member/application/service/query/MemberQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/member/presentation/MemberControllerTest.java
Labels: ⚙️ backend, ✨ feature

#299 #295 댓글 삭제 시 대댓글 유무 검증 추가
  backend/src/main/java/todoktodok/backend/comment/application/service/command/CommentCommandService.java
  backend/src/main/java/todoktodok/backend/reply/domain/repository/ReplyRepository.java
  backend/src/test/java/todoktodok/backend/comment/application/service/command/CommentCommandServiceTest.java
Labels: ⚙️ backend

#303 #301 로깅 관련 설정 추가
  backend/src/main/java/todoktodok/backend/global/config/WebMvcConfig.java
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/todoktodok/backend/global/interceptor/LogInterceptor.java
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/logback/console-appender.xml
  backend/src/main/resources/logback/file-dev-appender.xml
  backend/src/main/resources/logback/file-error-appender.xml
  backend/src/main/resources/logback/file-info-appender.xml
  backend/src/main/resources/logback/file-warn-appender.xml
Labels: ⚙️ backend, ✨ feature

#305 로깅 be -> dev 병합
  backend/src/main/java/todoktodok/backend/global/config/WebMvcConfig.java
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/todoktodok/backend/global/interceptor/LogInterceptor.java
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/logback/console-appender.xml
  backend/src/main/resources/logback/file-dev-appender.xml
  backend/src/main/resources/logback/file-error-appender.xml
  backend/src/main/resources/logback/file-info-appender.xml
  backend/src/main/resources/logback/file-warn-appender.xml
Labels: ⚙️ backend

#307 #237 내가 활동한 도서 api 연결
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/member/DefaultMemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/member/MemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/MemberService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultMemberRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/activated/ActivatedBooksFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/activated/vm/ActivatedBooksViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/activated/vm/ActivatedBooksViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/adapter/ContentPagerAdapter.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/presentation/vm/ActivatedBooksViewModelTest.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/MemberRepository.kt
Labels: 🤖 android, ✨ feature

#324 #323 로깅 설정 추가
  .github/workflows/backend-ci-cd-dev.yml
  backend/docker-compose.yml
  backend/promtail-config.yml
Labels: ⚙️ backend

#332 #331 상세 토론방 화면 API 연결 및 화면 구현
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DefaultDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/discussion/DiscussionResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/DiscussionService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultDiscussionRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/ReportDiscussionDialog.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/CommentsFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/model/DiscussionUiModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/vm/DiscussionDetailViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/vm/DiscussionDetailViewModelFactory.kt
  android/TodokTodok/app/src/main/res/layout/activity_discussion_detail.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/repository/DefaultCommentRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/repository/DefaultDiscussionRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/FakeCommentRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/FakeDiscussionRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeCommentRemoteDataSource.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fixture/Comment.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fixture/Discussion.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/presentation/vm/DiscussionDetailViewModelTest.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/Discussion.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/DiscussionRepository.kt
Labels: 🤖 android, ✨ feature

#328 #293 토론방 생성 UI 구현
  android/TodokTodok/app/src/main/AndroidManifest.xml
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/book/BookRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/book/DefaultBookRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DefaultDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/di/DataSourceModule.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/di/RepositoryModule.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/request/BookRequest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/request/DiscussionRoomRequest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/request/EditDiscussionRoomRequest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/BookService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/DiscussionService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultBookRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultDiscussionRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultTokenRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/ext/IntentExt.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/SelectBookActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussion/create/CreateDiscussionRoomActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussion/create/CreateDiscussionUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussion/create/SerializationCreateDiscussionRoomMode.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussion/create/vm/CreateDiscussionRoomViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussion/create/vm/CreateDiscussionRoomViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/serialization/SerializationBook.kt
  android/TodokTodok/app/src/main/res/drawable/ic_edit.xml
  android/TodokTodok/app/src/main/res/layout/activity_create_discussion_room.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/FakeDiscussionRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeDiscussionRemoteDataSource.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/member/DiscussionRoom.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/member/Opinion.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/member/Title.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/BookRepository.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/DiscussionRepository.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/TokenRepository.kt
Labels: 🤖 android, ✨ feature

#339 #336 차단한 사용자 차단 해제 기능추가
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/core/ext/LocalDateTimeExt.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/member/DefaultMemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/member/MemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/BlockedMemberResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/MemberService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultMemberRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/ext/LocalDateExt.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/SupportMemberDialog.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/CreatedDiscussionsRoomFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/SettingActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/ManageBlockedMembersFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/ManageBlockedUsersFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/UnBlockingDialog.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/dapter/BlockedMemberViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/dapter/BlockedMembersAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/dapter/BlockedMembersDiffCallBack.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/vm/ManageBlockedMembersViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/vm/ManageBlockedMembersViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/modify/ModifyProfileFragment.kt
  android/TodokTodok/app/src/main/res/layout/dialog_unblock.xml
  android/TodokTodok/app/src/main/res/layout/fragment_manage_blocked_members.xml
  android/TodokTodok/app/src/main/res/layout/fragment_manage_blocked_users.xml
  android/TodokTodok/app/src/main/res/layout/fragment_modify_profile.xml
  android/TodokTodok/app/src/main/res/layout/item_blocked_member.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/main/res/values/style.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/datasource/DefaultMemberRemoteDataSourceTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/presentation/vm/ManageBlockedMembersViewModelTest.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/member/BlockedMember.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/MemberRepository.kt
Labels: 🤖 android, ✨ feature

#337 #333 대댓글 API 연동
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/reply/DefaultReplyRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/reply/ReplyRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/di/DataSourceModule.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/di/RepositoryModule.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/di/ServiceModule.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/request/ReplyRequest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/comment/ReplyResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/ReplyService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultReplyRepository.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/Reply.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/ReplyRepository.kt
Labels: 🤖 android, ✨ feature

#363 #359 로그 컨벤션 적용
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/todoktodok/backend/global/interceptor/LogInterceptor.java
  backend/src/main/java/todoktodok/backend/member/application/service/command/MemberCommandService.java
  backend/src/test/java/todoktodok/backend/member/application/service/command/MemberCommandServiceTest.java
Labels: ⚙️ backend

#350 #347 다이얼로그 공통 컴포넌트화
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultMemberRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/component/CommonDialog.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/ReportDiscussionDialog.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/CommentsFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/ReportCommentDialog.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/ProfileActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/SupportMemberDialog.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/ManageBlockedMembersFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/ManageBlockedMembersUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/UnBlockingDialog.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/adapter/BlockedMemberViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/adapter/BlockedMembersAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/adapter/BlockedMembersDiffCallBack.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/manage/vm/ManageBlockedMembersViewModel.kt
  android/TodokTodok/app/src/main/res/drawable/bg_radius_10dp.xml
  android/TodokTodok/app/src/main/res/drawable/bg_radius_5dp.xml
  android/TodokTodok/app/src/main/res/drawable/bg_support_dialog.xml
  android/TodokTodok/app/src/main/res/drawable/bg_support_dialog_button_left.xml
  android/TodokTodok/app/src/main/res/drawable/bg_support_dialog_button_right.xml
  android/TodokTodok/app/src/main/res/layout/dialog_support.xml
  android/TodokTodok/app/src/main/res/layout/dialog_unblock.xml
  android/TodokTodok/app/src/main/res/layout/popup_menu_report.xml
  android/TodokTodok/app/src/main/res/layout/view_common_dialog.xml
  android/TodokTodok/app/src/main/res/values/colors.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/presentation/vm/ManageBlockedMembersViewModelTest.kt
Labels: 🤖 android, ✨ feature

#358 #356 토론 목록 화면 프로그래스바가 사라지지 않는 현상 수정
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/vm/DiscussionsViewModel.kt
Labels: 🤖 android, ✨ feature

#370 be -> dev 병합
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/todoktodok/backend/global/interceptor/LogInterceptor.java
  backend/src/main/java/todoktodok/backend/member/application/service/command/MemberCommandService.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/todoktodok/backend/comment/application/service/query/CommentQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/member/application/service/command/MemberCommandServiceTest.java
Labels: ⚙️ backend

#352 #349 토론방 조회 시, 전체 댓글 수가 댓글 및 대댓글의 합계로 조회되도록 수정
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentLikeCountDto.java
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentReplyCountDto.java
  backend/src/main/java/todoktodok/backend/comment/domain/repository/CommentRepository.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionCommentCountDto.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionLikeCountDto.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryService.java
  backend/src/main/java/todoktodok/backend/reply/application/service/query/ReplyLikeCountDto.java
  backend/src/main/java/todoktodok/backend/reply/domain/repository/ReplyRepository.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
Labels: ⚙️ backend

#372 #364 스웨거 인증 설명 추가
  backend/src/main/java/todoktodok/backend/global/config/SwaggerConfig.java
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
Labels: ⚙️ backend

#375 #373 최초 가입 유저 회원가입이 불가능한 문제 수정
  android/TodokTodok/app/src/androidTest/java/com/team/todoktodok/core/JwtParserTest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/core/JwtParser.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/member/DefaultMemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/member/MemberRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/token/TokenDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/ProfileResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/MemberService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultMemberRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/auth/vm/AuthViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/viewholder/UserInformationViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/setting/modify/ModifyProfileFragment.kt
  android/TodokTodok/app/src/main/res/layout/fragment_signup.xml
  android/TodokTodok/app/src/main/res/layout/item_user_information.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/datasource/DefaultMemberRemoteDataSourceTest.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/member/Profile.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/MemberRepository.kt
Labels: 🤖 android, 🔨 fix

#379 #374 토론방 로깅 방식 개선
  backend/src/main/java/todoktodok/backend/discussion/application/dto/request/DiscussionRequest.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/request/DiscussionUpdateRequest.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/command/DiscussionCommandService.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/Discussion.java
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/command/DiscussionCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/domain/DiscussionTest.java
Labels: ⚙️ backend

#383 #382 토론방 수정 화면에서 버튼 텍스트 '확인' -> '수정'으로 변경
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussion/create/CreateDiscussionRoomActivity.kt
  android/TodokTodok/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feature

#390 #389 DB 마이그레이션 설정 추가
  backend/build.gradle
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/db/data.sql
  backend/src/main/resources/db/migration_dev/V1__init.sql
  backend/src/main/resources/db/seed_dev/V2__init.sql
  backend/src/test/resources/application-test.yml
Labels: ⚙️ backend

#391 be -> dev
  backend/build.gradle
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentLikeCountDto.java
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentReplyCountDto.java
  backend/src/main/java/todoktodok/backend/comment/domain/repository/CommentRepository.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/request/DiscussionRequest.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/request/DiscussionUpdateRequest.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/command/DiscussionCommandService.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionCommentCountDto.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionLikeCountDto.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/Discussion.java
  backend/src/main/java/todoktodok/backend/global/config/SwaggerConfig.java
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/todoktodok/backend/member/presentation/MemberController.java
  backend/src/main/java/todoktodok/backend/reply/application/service/query/ReplyLikeCountDto.java
  backend/src/main/java/todoktodok/backend/reply/domain/repository/ReplyRepository.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/db/data.sql
  backend/src/main/resources/db/migration_dev/V1__init.sql
  backend/src/main/resources/db/seed_dev/V2__init.sql
  backend/src/test/java/todoktodok/backend/discussion/application/service/command/DiscussionCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/domain/DiscussionTest.java
  backend/src/test/resources/application-test.yml
Labels: ⚙️ backend

#394 #389 docker-compose.yml 수정
  backend/docker-compose.yml
Labels: ⚙️ backend

#401 #400 flyway 설정 추가
  backend/docker-compose.yml
  backend/src/main/java/todoktodok/backend/global/config/FlywayConfig.java
  backend/src/main/resources/application-dev.yml
Labels: ⚙️ backend

#402 be -> dev 병합
  backend/docker-compose.yml
  backend/src/main/java/todoktodok/backend/comment/application/dto/request/CommentRequest.java
  backend/src/main/java/todoktodok/backend/comment/application/service/command/CommentCommandService.java
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentQueryService.java
  backend/src/main/java/todoktodok/backend/comment/domain/Comment.java
  backend/src/main/java/todoktodok/backend/global/config/FlywayConfig.java
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/todoktodok/backend/global/interceptor/AuthorizationInterceptor.java
  backend/src/main/java/todoktodok/backend/global/interceptor/LogInterceptor.java
  backend/src/main/java/todoktodok/backend/member/application/dto/request/ProfileUpdateRequest.java
  backend/src/main/java/todoktodok/backend/member/application/dto/request/SignupRequest.java
  backend/src/main/java/todoktodok/backend/member/application/service/command/MemberCommandService.java
  backend/src/main/java/todoktodok/backend/member/application/service/query/MemberQueryService.java
  backend/src/main/java/todoktodok/backend/member/domain/Member.java
  backend/src/main/java/todoktodok/backend/reply/application/dto/request/ReplyRequest.java
  backend/src/main/java/todoktodok/backend/reply/application/service/command/ReplyCommandService.java
  backend/src/main/java/todoktodok/backend/reply/application/service/query/ReplyQueryService.java
  backend/src/main/java/todoktodok/backend/reply/domain/Reply.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/todoktodok/backend/comment/application/service/command/CommentCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/comment/application/service/query/CommentQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/comment/domain/CommentTest.java
  backend/src/test/java/todoktodok/backend/member/application/service/query/MemberQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/member/domain/MemberTest.java
  backend/src/test/java/todoktodok/backend/reply/application/service/command/ReplyCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/reply/application/service/query/ReplyQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/reply/domain/ReplyTest.java
Labels: ⚙️ backend

#404 be -> dev 병합
  backend/src/main/resources/db/seed_dev/V2__init.sql
Labels: ⚙️ backend

#406 #405 토론방/댓글/대댓글 응답에 회원 profileImage 추가
  backend/src/main/java/todoktodok/backend/member/application/dto/response/MemberResponse.java
Labels: ⚙️ backend, ✨ feature

#444 #442 검색된 도서가 없을 때, 안내 화면 구현
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/SelectBookActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/SelectBookUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/vm/SelectBookViewModel.kt
  android/TodokTodok/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feature

#459 #443 토론방 상세 API 에러 처리
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/core/ext/ResponseExt.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DefaultDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/DiscussionService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultDiscussionRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/ExceptionMessageConverter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussion/create/vm/CreateDiscussionRoomViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/vm/DiscussionDetailViewModel.kt
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/repository/DefaultDiscussionRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/FakeDiscussionRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeDiscussionRemoteDataSource.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/DiscussionExceptions.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/TodokTodokExceptions.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/DiscussionRepository.kt
Labels: 🤖 android, ✨ feature

#468 #466 도서 선택 화면 API 에러 처리
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/book/BookRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/book/DefaultBookRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/BookService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultBookRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/ExceptionMessageConverter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/SelectBookActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/SelectBookUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/SelectBookUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/vm/SelectBookViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussion/create/CreateDiscussionRoomActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussion/create/CreateDiscussionUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussion/create/vm/CreateDiscussionRoomViewModel.kt
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/datasource/DefaultBookRemoteDataSourceTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/repository/DefaultBookRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeBookRemoteDataSource.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/presentation/vm/SelectBookViewModelTest.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/Books.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/BooksExceptions.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/NetworkResult.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/TodokTodokExceptions.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/BookRepository.kt
Labels: 🤖 android, ✨ feature

#434 #380 도서 로깅 개선
  backend/src/main/java/todoktodok/backend/book/application/service/command/BookCommandService.java
  backend/src/main/java/todoktodok/backend/book/domain/Book.java
  backend/src/main/java/todoktodok/backend/book/infrastructure/aladin/AladinRestClient.java
  backend/src/main/java/todoktodok/backend/book/infrastructure/aladin/exception/AladinApiException.java
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentQueryService.java
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/todoktodok/backend/member/application/dto/request/ProfileUpdateRequest.java
  backend/src/main/java/todoktodok/backend/reply/application/service/query/ReplyQueryService.java
  backend/src/test/java/todoktodok/backend/book/application/domain/BookTest.java
  backend/src/test/java/todoktodok/backend/book/application/service/command/BookCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/comment/application/service/command/CommentCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/reply/application/service/command/ReplyCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/reply/application/service/query/ReplyQueryServiceTest.java
Labels: ⚙️ backend

#458 #445 prod 서버 모니터링, 로깅 설정 추가
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  backend/config/docker-compose-dev.yml
  backend/config/docker-compose-prod.yml
  backend/config/promtail-config-dev.yml
  backend/config/promtail-config-prod.yml
Labels: ⚙️ backend

#475 be -> dev 병합
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  backend/config/docker-compose-dev.yml
  backend/config/docker-compose-prod.yml
  backend/config/promtail-config-dev.yml
  backend/config/promtail-config-prod.yml
  backend/src/main/java/todoktodok/backend/book/application/service/command/BookCommandService.java
  backend/src/main/java/todoktodok/backend/book/domain/Book.java
  backend/src/main/java/todoktodok/backend/book/infrastructure/aladin/AladinRestClient.java
  backend/src/main/java/todoktodok/backend/book/infrastructure/aladin/exception/AladinApiException.java
  backend/src/main/java/todoktodok/backend/comment/application/service/query/CommentQueryService.java
  backend/src/main/java/todoktodok/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/todoktodok/backend/member/application/dto/request/ProfileUpdateRequest.java
  backend/src/main/java/todoktodok/backend/reply/application/service/query/ReplyQueryService.java
  backend/src/test/java/todoktodok/backend/book/application/domain/BookTest.java
  backend/src/test/java/todoktodok/backend/book/application/service/command/BookCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/comment/application/service/command/CommentCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/reply/application/service/command/ReplyCommandServiceTest.java
  backend/src/test/java/todoktodok/backend/reply/application/service/query/ReplyQueryServiceTest.java
Labels: ⚙️ backend

#477 #476 fix: docker 컨테이너 이름 충돌 수정
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  backend/config/docker-compose-prod.yml
Labels: ⚙️ backend, 🔨 fix

#478 fix: be -> dev 병합 충돌 수정
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  backend/config/docker-compose-prod.yml
Labels: ⚙️ backend, 🔨 fix

#467 #465 대댓글 API 에러 처리
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/comment/CommentRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/comment/DefaultCommentRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DefaultDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/reply/DefaultReplyRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/reply/ReplyRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/CommentService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/ReplyService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultCommentRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultDiscussionRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultReplyRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/ExceptionMessageConverter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/commentcreate/CommentCreateBottomSheet.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/commentcreate/CommentCreateUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/commentcreate/vm/CommentCreateViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/commentdetail/CommentDetailFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/commentdetail/CommentDetailUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/commentdetail/vm/CommentDetailViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/CommentsFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/CommentsUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/comments/vm/CommentsViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/replycreate/ReplyCreateBottomSheet.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/replycreate/ReplyCreateUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/replycreate/vm/ReplyCreateViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/vm/DiscussionDetailViewModel.kt
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/repository/DefaultCommentRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/FakeCommentRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeCommentRemoteDataSource.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/CommentExceptions.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/ReplyExceptions.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/TodokTodokExceptions.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/CommentRepository.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/ReplyRepository.kt
Labels: 🤖 android, ✨ feature

#484 #483 fix: docker 컨테이너 볼륨 마운트 경로 수정
  backend/config/docker-compose-prod.yml
Labels: ⚙️ backend

#481 #474 토론방 최신순 목록 조회 API 연동 완료
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DefaultDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/discussion/BookResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/latest/AuthorResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/latest/LatestDiscussionResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/latest/LatestDiscussionsResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/latest/PageInfoResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/DiscussionService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultDiscussionRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/repository/DefaultDiscussionRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/FakeDiscussionRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fixture/LatestDiscussionFixture.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/latest/Author.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/latest/LatestDiscussion.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/latest/LatestDiscussionPage.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/latest/PageInfo.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/DiscussionRepository.kt
Labels: 🤖 android, ✨ feature

#487 #483 fix: docker 컨테이너 볼륨 마운트 경로 수정
  backend/config/docker-compose-prod.yml
  backend/config/promtail-config-prod.yml
Labels: ⚙️ backend

#494 be -> dev 병합
  backend/config/docker-compose-prod.yml
  backend/config/promtail-config-prod.yml
Labels: ⚙️ backend, 🔨 fix

#495 BE 코드 병합
  backend/config/docker-compose-prod.yml
  backend/config/promtail-config-prod.yml
Labels: 🔨 fix

#497 #496 운영서버 DB용 마이그레이션파일 추가
  backend/src/main/resources/db/migration/V1__init.sql
Labels: ⚙️ backend

#482 #479 난독화 적용
  android/TodokTodok/app/build.gradle.kts
  android/TodokTodok/app/proguard-rules.pro
Labels: 🤖 android, ✨ feature

#503 #489 나의 토론 목록 화면 이동 구현
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/ext/IntentExt.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionsActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/my/MyDiscussionFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/my/adapter/CreatedDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/my/adapter/ParticipatedDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/vm/DiscussionsViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/ProfileActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/adapter/ProfileAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/viewholder/UserTabViewHolder.kt
Labels: 🤖 android, ✨ feature

#463 #457 인기 토론방 조회 API 구현
  backend/src/main/java/todoktodok/backend/comment/domain/repository/CommentRepository.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionLikeAndCommentCountDto.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/repository/DiscussionLikeRepository.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionApiDocs.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionController.java
  backend/src/test/java/todoktodok/backend/DatabaseInitializer.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/presentation/DiscussionControllerTest.java
Labels: ⚙️ backend, ✨ feature

#502 be -> dev 병합
  backend/src/main/java/todoktodok/backend/comment/domain/repository/CommentRepository.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/response/PageInfo.java
  backend/src/main/java/todoktodok/backend/discussion/application/dto/response/SlicedDiscussionResponse.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionLikeAndCommentCountDto.java
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/repository/DiscussionLikeRepository.java
  backend/src/main/java/todoktodok/backend/discussion/domain/repository/DiscussionRepository.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionApiDocs.java
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionController.java
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/test/java/todoktodok/backend/DatabaseInitializer.java
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
  backend/src/test/java/todoktodok/backend/discussion/presentation/DiscussionControllerTest.java
Labels: ⚙️ backend

#521 hotfix 사용자 isMyDiscussion 조건 변경
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/vm/DiscussionDetailViewModel.kt
Labels: 🤖 android, 🔨 fix

#529 #528 활성화된 토론방 페이지네이션 API 연동 구현
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/database/UserSetting.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DefaultDiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/discussion/DiscussionRemoteDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/adapter/ResponseCall.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/discussion/MemberResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/discussion/page/ActiveDiscussion.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/discussion/page/ActiveDiscussionPageResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/service/DiscussionService.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultDiscussionRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/hot/HotDiscussionFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/vm/DiscussionsViewModel.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/FakeDiscussionRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeDiscussionRemoteDataSource.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/active/ActivatedDiscussion.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/active/ActivatedDiscussionPage.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/DiscussionRepository.kt
Labels: 🤖 android, ✨ feature

#534 #533 토론방 상세 페이지 UI 수정
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/res/layout/activity_discussion_detail.xml
Labels: 🤖 android, ✨ feature

#536 토론방 목록 사용자 프로필 수정
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/adapter/DiscussionViewHolder.kt
  android/TodokTodok/app/src/main/res/layout/item_discussion.xml
Labels: 🤖 android, ✨ feature

#539 #538 토론 검색 버그 수정
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/datasource/token/TokenDataSource.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/ext/RvExt.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/auth/AuthActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/BaseDiscussionsFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionsActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionsUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/adapter/DiscussionDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/all/AllDiscussionFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/hot/HotDiscussionFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/hot/HotDiscussionUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/hot/viewholder/HotActivatedDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/hot/viewholder/HotPopularDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/latest/LatestDiscussionsFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/latest/LatestDiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/my/MyDiscussionFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/my/MyDiscussionUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/my/viewholder/CreatedDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/my/viewholder/ParticipatedDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/search/SearchDiscussionsFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/search/SearchDiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/vm/DiscussionsViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/CreatedDiscussionsRoomFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/adapter/UserDiscussionDiffCallback.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/participated/ParticipatedDiscussionsRoomFragment.kt
  android/TodokTodok/app/src/main/res/layout/activity_discussions.xml
  android/TodokTodok/app/src/main/res/layout/fragment_all_discussion.xml
  android/TodokTodok/app/src/main/res/layout/fragment_latest_discussions.xml
  android/TodokTodok/app/src/main/res/layout/fragment_my_discussion.xml
  android/TodokTodok/app/src/main/res/layout/fragment_search_discussions.xml
Labels: 🤖 android, ✨ feature

#547 #545 토론 목록 검색시 검색어 하이랑팅 기능 추가
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/component/adapter/BaseDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/component/adapter/DefaultDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/component/adapter/DiscussionAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/component/adapter/DiscussionDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/component/adapter/QueryHighlightingViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/component/adapter/ResizingDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/component/adapter/WriterHiddenDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/DiscussionUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/adapter/DiscussionAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/adapter/DiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/hot/viewholder/HotActivatedDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/hot/viewholder/HotPopularDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/latest/LatestDiscussionsFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/my/viewholder/CreatedDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/my/viewholder/ParticipatedDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/search/SearchDiscussionsFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/search/SearchDiscussionsUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/CreatedDiscussionsRoomFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/adapter/UserDiscussionAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/adapter/UserDiscussionDiffCallback.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/created/adapter/UserDiscussionViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/profile/participated/ParticipatedDiscussionsRoomFragment.kt
  android/TodokTodok/app/src/main/res/layout/item_discussion.xml
Labels: 🤖 android, ✨ feature

#549 #548 토론방 조회 후 토론방 정보 갱신 기능 추가
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/DiscussionDetailUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussiondetail/vm/DiscussionDetailViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/BaseDiscussionsFragment.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussions/vm/DiscussionsViewModel.kt
Labels: 🤖 android, ✨ feature

#551 #541 활성화된 토론방 조회 시, 댓글 수가 제대로 조회되지 않는 문제 수정
  backend/src/main/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryService.java
  backend/src/main/java/todoktodok/backend/discussion/domain/repository/DiscussionRepository.java
  backend/src/main/resources/db/local/schema.sql
  backend/src/test/java/todoktodok/backend/discussion/application/service/query/DiscussionQueryServiceTest.java
Labels: ⚙️ backend, 🔨 fix

#555 #554 실제 응답과 맞지 않는 스웨거 예시 수정
  backend/src/main/java/todoktodok/backend/discussion/presentation/DiscussionApiDocs.java
Labels: ⚙️ backend, 🔨 fix

#562 #546 도서 선택 화면 리팩토링
  android/TodokTodok/.kotlin/sessions/kotlin-compiler-17834839256474245321.salive
  android/TodokTodok/app/src/androidTest/java/com/team/todoktodok/view/book/SelectBookActivityTest.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/local/discussion/DiscussionRoomEntity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/network/response/discussion/BookResponse.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultBookRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/data/repository/DefaultDiscussionRepository.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/core/ExceptionMessageConverter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/SearchedBookStatus.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/SelectBookActivity.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/SelectBookErrorType.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/SelectBookUiEvent.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/SelectBookUiState.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/adapter/SearchBooksAdapter.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/adapter/SearchBooksCountViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/adapter/SearchBooksGroup.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/adapter/SearchBooksViewHolder.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/adapter/SearchedBookDiffUtil.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/vm/SelectBookViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/book/vm/SelectBookViewModelFactory.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/discussion/create/vm/CreateDiscussionRoomViewModel.kt
  android/TodokTodok/app/src/main/java/com/team/todoktodok/presentation/view/serialization/SerializationBook.kt
  android/TodokTodok/app/src/main/res/layout/activity_create_discussion_room.xml
  android/TodokTodok/app/src/main/res/layout/activity_discussions.xml
  android/TodokTodok/app/src/main/res/layout/activity_select_book.xml
  android/TodokTodok/app/src/main/res/layout/item_book.xml
  android/TodokTodok/app/src/main/res/layout/item_searched_books_count.xml
  android/TodokTodok/app/src/main/res/values/strings.xml
  android/TodokTodok/app/src/test/java/com/team/todoktodok/data/repository/DefaultBookRepositoryTest.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/FakeDiscussionRepository.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fake/datasource/FakeBookRemoteDataSource.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/fixture/AladinBookFixtures.kt
  android/TodokTodok/app/src/test/java/com/team/todoktodok/presentation/vm/SelectBookViewModelTest.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/book/AladinBook.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/book/AladinBooks.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/book/BookAuthor.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/book/BookImage.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/book/BookTitle.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/book/ISBN.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/discussionroom/DiscussionRoom.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/discussionroom/DiscussionRoomTitle.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/discussionroom/Opinion.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/BookAuthorException.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/BookException.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/BookImageException.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/BookTitleException.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/BooksExceptions.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/ISBNException.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/model/exception/TodokTodokExceptions.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/BookRepository.kt
  android/TodokTodok/domain/src/main/java/com/team/domain/repository/DiscussionRepository.kt
  android/TodokTodok/domain/src/test/java/com/team/domain/model/book/AladinBookTest.kt
  android/TodokTodok/domain/src/test/java/com/team/domain/model/book/AladinBooksTest.kt
  android/TodokTodok/domain/src/test/java/com/team/domain/model/book/BookAuthorTest.kt
  android/TodokTodok/domain/src/test/java/com/team/domain/model/book/BookImageTest.kt
  android/TodokTodok/domain/src/test/java/com/team/domain/model/book/BookTitleTest.kt
  android/TodokTodok/domain/src/test/java/com/team/domain/model/book/ISBNTest.kt
  android/TodokTodok/domain/src/test/java/com/team/domain/model/fixture/AladinBookFixtures.kt
Labels: 🤖 android, ✨ feature
